:root {
  --border-radius: 20px;
  --white-color: #fff;
  --font-family: 'Nunito', sans-serif;
  --colorButton: #3c31bb;
  --luceParabola: 100%;
  --pokemonTypeSymbol: 11rem;
  --pokemonHeaderSymbol: 18rem;
  --pokemonHeaderSymbolHeight: 16rem;
  --magicSymbolWidth: 16rem;
  --magicSymbolHeight: 16rem;
  --popup-background-color: #241c59;
}

body {
  padding: 10px;
  margin: 0px !important;
  background-color: #cacaca;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.spaceAfter {
  margin-bottom: 10px;
}

.spaceBefore {
  margin-top: 10px;
}

.spaceRight {
  margin-right: 10px;
}

.spaceLeft {
  margin-left: 10px;
}

.spaceAround {
  margin: 10px;
}

.loginSignUpButton {
  font-size: 24px;
  padding: 20px 40px;
  border: 0;
  border-radius: var(--border-radius);
  background-color: rgba(161, 45, 45, 0);
  color: rgba(255, 255, 255, 0.26);
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.loginSignUpButton:hover {
  background-color: #1082ca;
  box-shadow: 0 0 20px #6fc5ff50;
}

.loginInput {
  max-width: 100%;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: var(--border-radius);
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.loginInput:hover,
.loginInput:focus,
.loginInput-group:hover .loginInput {
  outline: none;
  border-color: #003366;
}

.loginInput-group:hover .label,
.loginInput:focus {
  color: #003366;
}

.login_signUp_background {
  background-image: url("img/pokemon-magic-yugioh_upscayl_2x.png"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
  padding: 0;
}

.loginSignUpButton {
  font-size: 24px;
  padding: 11px 37px;
  margin-top: 4%;
  margin-bottom: 4%;
  border: 0;
  border-radius: var(--border-radius);
  background-color: rgb(0, 51, 102);
  color: var(--white-color);
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

.loginSignUpButton:hover {
  background-color: rgb(49, 55, 203);
}

.loginSignUpButton:active {
  background-color: rgb(61, 67, 246);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.90);
  position: relative;
}

.loginLogo {
  background-image: url(/img/logo-no-background_top.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 380px;
  min-height: 131px;
  margin: 25px 25px 20px 25px;
  padding: 15px 20px 8px 20px;
}

.loginPanel {
  margin-right: 36%;
  max-width: fit-content;
  max-height: fit-content;
  background: rgba(255, 255, 255, 0.14);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);

}

.loginTitle {
  font-size: 50px;
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--white-color);
  margin-bottom: 10px;
}

.loginLabel {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: var(--white-color);
  transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
  margin: 10px;
  font-size: 16px;
}


.loginSubscribeLink {
  color: #004d96;
  margin-bottom: 16px;
  margin-left: 5px;
}

.loginContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  border-radius: var(--border-radius);
  justify-content: center;
}


.loginIscrivitiOra {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/*-- FINE CSS LOGIN --*/




/*++ CSS SIGNUP ++*/

.backButton {
  background-color: transparent;
  font-size: 16px;
  padding: 8px 16px;
  margin-bottom: 4%;
  border: 0;
  border-radius: var(--border-radius);
  color: rgb(0, 51, 102);
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}

.backButton:hover {
  color: rgb(49, 55, 203);
}

.backButton:active {
  color: rgb(61, 67, 246);
  transform: scale(0.95);
}

.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: var(--border-radius);
}

.signUpForm {
  padding: 40px;
  width: fit-content;
  max-height: fit-content;
  background: rgba(255, 255, 255, 0.25);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
}

.signUpInputListBox {
  max-width: 90%;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: var(--border-radius);
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.signUpLabel {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #ffffff;
  transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
  margin: 10px;
  font-size: 16px;
}

/*-- FINE CSS SIGNUP --*/

/*++ CSS HEADER ++*/
.headerPanel {
  padding: 10px;
  margin: 0;
  width: 100vw;
  height: 7rem;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.headerButtonPanel {
  display: grid;
  justify-content: flex-end;
  align-content: space-between;
}

.headerLogo {
  background-image: url('/img/logo-no-background_left.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin: 0.5rem 1rem 0rem 0rem;
}

.headerLogo:hover {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.headerLogo:active {
  filter: brightness(85%);
}

.headerLogoutButton {
  --primary-color: #ff6666;
  --secondary-color: #fff;
  /*--hover-color: #be4848;*/
  --hover-color: #c51d1d;
  --hover-text-color: #d8d8d8;
  box-sizing: border-box;
  border: 0;
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.headerLogoutButton:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  cursor: pointer;

}

.headerLogoutButton:active {
  transform: scale(0.9);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.90);
  position: relative;
}

.headerLogoutLabel {
  font-size: 20px;
  margin-top: 3px;
  font-family: 'Nunito', sans-serif;
}

.headerLogoutImage {
  background-image: url('/img/logout_logo.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 8px;
}

.headerLogoutButton:hover .headerLogoutImage {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.headerProfileButton {
  --primary-color: #ff9966;
  --secondary-color: #fff;
  --hover-color: #e16323;
  --hover-text-color: #d8d8d8;
  box-sizing: border-box;
  border: 0;
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  font-weight: bold;
  transition-duration: .3s;
  transition-duration: 150ms;
  margin-right: 1rem;
}

.headerProfileButton:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  cursor: pointer;

}

.headerProfileButton:active {
  transform: scale(0.9);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.90);
  position: relative;

}

.headerProfileLabel {
  margin-top: 3px;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family);
}

.headerProfileInfo {
  margin-top: 3px;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family);
}


.headerProfileButtonImage {
  background-image: url('/img/profile_logo.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 8px;
}

.headerProfileButtonImageMagic {
  background-image: url('/img/profile-magic-trainer.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 8px;
}

.headerProfileButtonImagePokemon {
  background-image: url('/img/profile-pokemon-trainer.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 8px;
}

.headerProfileButtonImageYugioh {
  background-image: url('/img/profile-yugioh-trainer.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 8px;
}

.headerProfileButton:hover .headerProfileButtonImage {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.headerProfileButton:hover .headerProfileButtonImageMagic {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.headerProfileButton:hover .headerProfileButtonImagePokemon {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.headerProfileButton:hover .headerProfileButtonImageYugioh {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.red-dot-indicator {
  width: 23px;
  height: 23px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
}


.headerCustom-modal {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 0px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  transform: translateY(0);
  /* Inizialmente invisibile, fuori schermo */
  transform-origin: top right;
  transition: transform 0.3s ease-in-out;
  /* Aggiungi una transizione di animazione */
}

.headerCustom-modal:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 25px solid #ff9966;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  z-index: 1000;
}

.gwt-PopupPanel {
  border: 0px !important;
  padding: 0px !important;
  background: transparent !important;
  /* left: 35rem; */
  /* top: 8rem; */
  /* visibility: visible;
  position: absolute;
  overflow: visible;
  z-index: 10000;
  position: absolute; */
}

.headerCustom-modal-title {
  font-weight: bold;
  font-size: 16px;
}

.headerGlass-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  /* Trasparenza nera */
  z-index: 999;
}

.headerModal-panelCard-container {
  font-family: var(--font-family);
  font-size: bold;
  background-color: #ff9966;
  border-radius: var(--border-radius);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  padding: 50px 0px 50px 0px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
  display: flex;

  /* Abilita il layout flex per il contenitore */
  flex-direction: column;
  /* Imposta la direzione di layout su colonna */
  align-items: center;
  /* Centra verticalmente all'interno del contenitore */
}



.headerModal-profileUsernameLabel {
  font-family: 'Nunito', sans-serif;
  font-size: 45px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 35px;
}

.headerModal-stockProfileImage {
  background-image: url('/img/stock-profile-icon.png');
  background-size: cover;
  background-position: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 20px;
  height: 120px;
  width: 120px;
}

/*-- FINE CSS HEADER --*/

/*++ CSS HOME ++*/
.homePanel {
  background-image: url("img/triangle_background.png"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
  height: 100vh;
  padding: 0;
  background-position: center top;
}

.homePanelMagic {
  background-image: url("img/triangle_background_magic.png"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
  height: 100vh;
  padding: 0;
  background-position: center top;
}

.homePanelPokemon {
  background-image: url("img/triangle_background_pokemon.png"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
  height: 100vh;
  padding: 0;
  background-position: center top;
}

.homePanelYugioh {
  background-image: url("img/triangle_background_yugioh.png"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
  height: 100vh;
  padding: 0;
  background-position: center top;
}

.homeProfileImage {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: transparent;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  background-image: url('/img/stock-profile-icon.png');
  /*larghezza e altezza dell'avater*/
  width: 170px;
  height: 170px;
}

.homeProfileImage input[type="file"] {
  display: none;
}

.homeProfileImage:hover {
  opacity: 0.7;
  cursor: pointer;
}

.homeChooseGamePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.homeChooseMagicBtn {
  background-image: url('/img/magicBtn.jpg');
  /* sostituisci 'path/to/image.jpg' con il percorso dell'immagine che vuoi utilizzare */
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  /* altezza del bottone */
  border: none;
  border-radius: var(--border-radius);
  margin: 30px;
  cursor: pointer;
  transition-duration: .3s;
}

.homeChooseMagicBtn:hover {
  transform: scale(1.1);
  /* effetto di ingrandimento al passaggio del mouse */
}

.homeChooseMagicBtn:active {
  transform: scale(0.9);
  transition-duration: 150ms;
}


.homeChoosePokemonBtn {
  background-image: url('/img/pokemonBtn.jpg');
  /* sostituisci 'path/to/image.jpg' con il percorso dell'immagine che vuoi utilizzare */
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  /* altezza del bottone */
  border: none;
  border-radius: var(--border-radius);
  margin: 30px;
  cursor: pointer;
  transition-duration: .3s;
}

.homeChoosePokemonBtn:hover {
  transform: scale(1.1);
  /* effetto di ingrandimento al passaggio del mouse */
}

.homeChoosePokemonBtn:active {
  transform: scale(0.9);
  transition-duration: 150ms;
}

.homeChooseYugiohBtn {
  background-image: url('/img/yugiohBtn.jpg');
  /* sostituisci 'path/to/image.jpg' con il percorso dell'immagine che vuoi utilizzare */
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  /* altezza del bottone */
  border: none;
  border-radius: var(--border-radius);
  margin: 30px;
  cursor: pointer;
  transition-duration: .3s;
}

.homeChooseYugiohBtn:hover {
  transform: scale(1.1);
  /* effetto di ingrandimento al passaggio del mouse */
}

.homeChooseYugiohBtn:active {
  transform: scale(0.9);
  transition-duration: 150ms;
}

.homeChooseGameLabel {
  font-family: 'Passion One', sans-serif;
  font-size: 90px;
  letter-spacing: 4px;
  word-spacing: 7.5px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  color: rgb(231, 231, 231);
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
}

.homeWelcomeLabel {
  font-family: 'Passion One', sans-serif;
  font-size: 90px;
  letter-spacing: 4px;
  word-spacing: 7.5px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  color: rgb(231, 231, 231);
  text-align: center;
  margin-top: 90px;
  margin-bottom: 0px;
}

/*-- FINE CSS HOME --*/



/* -- VIEW DI UNA CARTA -- */

/* Stile per il pannello di visualizzazione delle singole carte */

.card {
  position: relative;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 92%;
  margin-top: 2%;
  min-width: 250px;
  min-height: 250px;
}

.card__svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.cardImage {
  background-image: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}


.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card .card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card-btn {
  opacity: 1;
  scale: 1;
}

.card .card-btn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card .card-btn:active {
  scale: 0.95;
}


.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(-45deg, #f89b2980 0%, #ff0f7b80 100%); */
  transition: transform 0.5s ease;
}

.card:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}

/* 
.card:hover .card-wrap::after .type-colorless,
.type-fairy,
.type-water,
.type-fire,
.type-grass,
.type-darkness,
.type-metal,
.type-dragon,
.type-lightning,
.type-psychic,
.type-fighting,
.type-trainer {
  transform: translate(-50%, -50%) scale(2);
} */

.symbol-fire {
  background-image: url('/img/iconPokemonTypes/fire.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-grass {
  background-image: url('/img/iconPokemonTypes/grass.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-water {
  background-image: url('/img/iconPokemonTypes/water.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-lightning {
  background-image: url('/img/iconPokemonTypes/lightning.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-psychic {
  background-image: url('/img/iconPokemonTypes/psychic.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-fighting {
  background-image: url('/img/iconPokemonTypes/fighting.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-darkness {
  background-image: url('/img/iconPokemonTypes/darkness.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-metal {
  background-image: url('/img/iconPokemonTypes/metal.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-fairy {
  background-image: url('/img/iconPokemonTypes/fairy.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-dragon {
  background-image: url('/img/iconPokemonTypes/dragon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}

.symbol-colorless {
  background-image: url('/img/iconPokemonTypes/colorless.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--pokemonTypeSymbol);
  height: var(--pokemonTypeSymbol);
}


.symbol-trainer {
  background-image: url('/img/iconPokemonTypes/Pokeball.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 12rem;
  height: 19rem;
  margin-top: -1rem;
}


.pokemon-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-type .type-fairy,
.type-water,
.type-fire,
.type-grass,
.type-darkness,
.type-metal,
.type-dragon,
.type-lightning,
.type-psychic,
.type-fighting,
.type-colorless,
.type-trainer,
.type-Instant,
.type-Sorcery,
.type-Enchantment,
.type-Creature {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  min-width: 10rem;
  min-height: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.type-fairy {
  background-color: rgb(255, 191, 255);
  background-image: rgb(255, 191, 255);
}

.type-water {
  background-color: rgb(75, 199, 250);
  background-image: rgb(75, 199, 250);
}

.type-fire {
  background-color: rgb(250, 199, 75);
  background-image: rgb(250, 199, 75);
}

.type-grass {
  background-color: rgb(165, 250, 75);
  background-image: rgb(165, 250, 75);
}

.type-darkness {
  background-color: rgba(0, 0, 0, 0.46);
  background-image: rgb(101, 102, 105);
}

.type-metal {
  background-color: rgb(165, 165, 165);
  background-image: rgb(165, 165, 165);
}

.type-dragon {
  background-color: rgba(64, 95, 255, 1);
  background-image: rgba(64, 95, 255, 1);
}

.type-lightning {
  background-color: rgb(255, 236, 154);
  background-image: rgb(255, 236, 154);
}

.type-psychic {
  background-color: rgb(255, 179, 204);
  background-image: rgb(255, 179, 204);
}

.type-fighting {
  background-color: rgba(251, 174, 82, 1);
  background-image: rgba(212, 125, 20, 1);
}

.type-colorless {
  background-color: rgba(0, 0, 0, 0.09);
  background-image: rgba(160, 162, 160, 1);
}

.type-trainer {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: rgba(121, 121, 121, 1);
}

.card-header .header-colorless,
.header-fairy,
.header-darkness,
.header-metal,
.header-dragon,
.header-lightning,
.header-psychic,
.header-fire,
.header-water,
.header-grass,
.header-fighting,
.header-trainer,
.header-Creature,
.header-Instant,
.header-Sorcery,
.header-Enchantment {
  width: var(--pokemonHeaderSymbol);
  height: var(--pokemonHeaderSymbolHeight);
  border-top-left-radius: 100% 0%;
  border-top-right-radius: 0% 100%;
  border-bottom-right-radius: var(--luceParabola) var(--luceParabola);
  border-bottom-left-radius: var(--luceParabola) var(--luceParabola);
  display: grid;
  place-items: center;
}

.header-grass {
  background: rgb(165, 250, 75);
  background: linear-gradient(0deg, rgba(165, 250, 75, 1) 12%, rgba(82, 207, 30, 1) 74%);
}

.header-fire {
  background: rgb(250, 199, 75);
  background: linear-gradient(0deg, rgba(250, 199, 75, 1) 12%, rgba(255, 87, 0, 1) 74%);
}

.header-water {
  background: rgb(75, 199, 250);
  background: linear-gradient(0deg, rgba(75, 199, 250, 1) 12%, rgba(0, 87, 255, 1) 74%);
}

.header-psychic {
  background: rgb(255, 179, 204);
  background: linear-gradient(0deg, rgba(255, 179, 204, 1) 0%, rgba(239, 67, 122, 1) 100%);
}

.header-lightning {
  background: rgb(255, 236, 154);
  background: linear-gradient(0deg, rgba(255, 236, 154, 1) 0%, rgba(254, 235, 0, 1) 100%);
}

.header-colorless {
  background: rgb(208, 208, 208);
  background: linear-gradient(0deg, rgba(208, 208, 208, 1) 0%, rgba(160, 162, 160, 1) 100%);
}


.header-fairy {
  background: rgb(255, 191, 255);
  background: linear-gradient(0deg, rgba(255, 191, 255, 1) 0%, rgba(255, 0, 255, 1) 100%);
}

.header-darkness {
  background: rgb(101, 102, 105);
  background: linear-gradient(0deg, rgba(101, 102, 105, 1) 0%, rgba(42, 37, 37, 1) 100%);
}

.header-metal {
  background: rgb(200, 200, 200);
  background: linear-gradient(0deg, rgba(200, 200, 200, 1) 0%, rgba(148, 142, 110, 1) 100%);
}

.header-fighting {
  background: rgb(255, 243, 184);
  background: linear-gradient(0deg, rgba(255, 243, 184, 1) 0%, rgba(212, 125, 20, 1) 100%);
}

.header-dragon {
  background: rgb(129, 137, 162);
  background: linear-gradient(0deg, rgba(129, 137, 162, 1) 0%, rgba(64, 95, 255, 1) 100%);
}

.header-trainer {
  background: rgb(232, 232, 232);
  background: linear-gradient(0deg, rgba(232, 232, 232, 1) 19%, rgba(162, 162, 162, 1) 48%, rgba(121, 121, 121, 1) 83%);
}

/*MAGIC CARD */

.symbol-Sorcery {
  background-image: url('/img/iconMagicTypes/Sorcery.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 13rem;
  height: 13rem;
}


.symbol-Creature {
  background-image: url('/img/iconMagicTypes/Creature.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--magicSymbolWidth);
  height: var(--magicSymbolHeight);
}

.symbol-Instant {
  background-image: url('/img/iconMagicTypes/Instant.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 13rem;
  height: 13rem;
}

.symbol-Enchantment {
  background-image: url('/img/iconMagicTypes/Enchantment.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--magicSymbolWidth);
  height: var(--magicSymbolHeight);
}


.header-Sorcery {
  background: rgb(123, 123, 123);
  /* background: linear-gradient(0deg, rgba(165, 250, 75, 1) 12%, rgba(82, 207, 30, 1) 74%); */
}

.header-Creature {
  background: rgb(123, 123, 123);
  /* background: linear-gradient(0deg, rgba(165, 250, 75, 1) 12%, rgb(207, 30, 183) 74%); */
}

.header-Instant {
  background: rgb(123, 123, 123);
  /* background: linear-gradient(0deg, rgba(165, 250, 75, 1) 12%, rgb(207, 30, 30) 74%); */
}

.header-Enchantment {
  background: rgb(123, 123, 123);
  /* background: linear-gradient(0deg, rgba(165, 250, 75, 1) 12%, rgb(207, 30, 30) 74%); */

}

.type-Sorcery {
  background-color: rgba(0, 0, 0, 0.2);
}

.type-Creature {
  background-color: rgba(0, 0, 0, 0.2);
}

.type-Instant {
  background-color: rgba(0, 0, 0, 0.2);
}

.type-Enchantment {
  background-color: rgba(0, 0, 0, 0.2);
}


/* VISUALIZZAZIONE DELLA SCHERMATA DELLE CARTE */
.windowPanel {
  max-height: 50%;
  width: 100%;
}

.cardsGrid {
  width: auto;
  display: flex;
  /* margin-top: 1vh; */
}

.bodyTable {
  width: 100%;
  height: 100%;
}

.noCardsLabel {
  font-family: 'Passion One', sans-serif;
  font-size: 65px;
  letter-spacing: 4px;
  word-spacing: 7.5px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.noDeckLabel {
  font-family: 'Passion One', sans-serif;
  font-size: 65px;
  letter-spacing: 4px;
  word-spacing: 7.5px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 10rem;
}

/* PAGINAZIONE DELLA SCHERMATA DELLE CARTE */
.paginationButtonPrev {
  font-family: var(--font-family);
  width: 3rem;
  height: 10rem;
  display: flex;
  padding: 12.5px 30px;
  border: 0;
  border-radius: var(--border-radius);
  background: url('img/prev.png') center/contain no-repeat;
  background-color: #2aa7f5;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-left: 1rem;
}

.paginationButtonPrev:hover {
  background-color: #1e87d6;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  scale: 1.05;
  transform: translateY(-2px);
}

.paginationButtonPrev:active {
  background-color: #2ba8fb;
  box-shadow: none;
  transform: translateY(0);
}

.paginationButtonPrev:disabled {
  background-color: #ddd;
  color: #aaa;
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
}

.paginationButtonNext {
  font-family: var(--font-family);
  width: 3rem;
  height: 10rem;
  display: flex;
  padding: 12.5px 30px;
  border: 0;
  border-radius: var(--border-radius);
  background: url('img/next.png') center/contain no-repeat;
  background-color: #2aa7f5;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-left: -1.4rem;
  margin-top: 20.5rem;
}

.paginationButtonNext:hover {
  background-color: #1e87d6;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  scale: 1.05;
  transform: translateY(-2px);
}

.paginationButtonNext:active {
  background-color: #2ba8fb;
  box-shadow: none;
  transform: translateY(0);
}

.paginationButtonNext:disabled {
  background-color: #ddd;
  color: #aaa;
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
}

.pageCounterLabel {
  background-color: #ddd;
  color: #aaa;
  box-shadow: none;
  transform: none;
  font-family: var(--font-family);
  display: flex;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-left: -1.4rem;
  margin-top: 14.5rem;
}


.buttonsPanel {
  margin-bottom: 10rem;
}

.sidebarButton {
  font-family: var(--font-family);
  padding: 11.5px 41px;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--colorButton);
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 83%;
}

.sidebarButton:hover {
  background-color: #1e87d6;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  scale: 1.05;
  transform: translateY(-2px);
}

.sidebarButton:active {
  background-color: #2ba8fb;
  box-shadow: none;
  transform: translateY(0);
}

.sidebarButton:focus {
  outline: none;
}

.sidebar {
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: grid;
  min-height: 52rem;
  width: 17rem;
  border-radius: var(--border-radius);
  background: rgba(112, 112, 112, 0.32);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
}

.paginationPanel {
  margin-left: 0.6rem;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.paginationFlexTable {
  width: 100%;
  /* Utilizza l'intera larghezza del container */
  border-collapse: collapse;
  /* Unisci i bordi delle celle */
}







/* Custom pokemon cards */
.miniBody {
  font-family: var(--font-family);
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-wrap {
  max-width: 33rem;
  background: #fff;
  overflow: hidden;
  color: var(--color-text);
  cursor: pointer;
  transition: all .2s ease-in-out;
  height: 25rem;
}

.card-content {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.card-content .type-symbol {
  background-image: url('https://ih1.redbubble.net/image.402376802.5395/st,small,845x845-pad,1000x1000,f8f8f8.u4.jpg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.card-title {
  font-family: var(--font-family);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

/* ++ HOME GAME VIEW ++ */
.searchBox {
  font-family: var(--font-family);
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: var(--border-radius);
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  top: 7px;
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
  background: var(--gradient-2, linear-gradient(90deg, #2accf5 0%, #5000fd 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
.searchButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

/*button pressing effect*/
.searchButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

.filterCardsButton {
  --primary-color: var(--gradient-2, linear-gradient(90deg, #2accf5 30%, #5000fd 70%));
  --secondary-color: #fff;
  box-sizing: border-box;
  border: 0;
  border-radius: var(--border-radius);
  color: var(--secondary-color);

  margin-top: 1rem;
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  transition-duration: .3s;
  transition-duration: 150ms;
}

.filterButtonImage {
  background-image: url('/img/filter-image.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 8px;
}

.filterCardsButton:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: .1s;
}

.filterCardsButton:active {
  transform: scale(0.9);
  transition: all 0.25s;
  box-shadow: none;
  -webkit-transition: all 0.25s;
  transform: scale(0.90);
  position: relative;
}

.filterLabel {
  margin-top: 3px;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family);
}


/* -- HOME GAME VIEW -- */

/* ++ INIZIO POP UP PANEL DEL SITO ++ */

.filterContentPanel {
  background-color: #ff9966;
  border-radius: var(--border-radius);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  padding: 50px 0px 50px 0px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
  display: flex;
  /* Abilita il layout flex per il contenitore */
  flex-direction: column;
  /* Imposta la direzione di layout su colonna */
  align-items: center;
  /* Centra verticalmente all'interno del contenitore */
}

.chooseCardForProposalContainer {
  background-color: #ff9966;
  border-radius: var(--border-radius);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  padding: 50px 0px 50px 0px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
  display: flex;
  /* Abilita il layout flex per il contenitore */
  flex-direction: column;
  /* Imposta la direzione di layout su colonna */
  align-items: center;
}

/* -- FINE POP UP PANEL DEL SITO -- */

/* ++ INIZIO BOTTONE PER ANDARE ALLA PAGINA DEGLI SCAMBI ++ */

.exchangeButtonImage {
  background-image: url('/img/exchange_logo.png');
  width: 23px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.exchangeButtonLabel {
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
}

.exchangeButton {
  --primary-color: #669eff;
  --secondary-color: #fff;
  --hover-color: #1d66c5;
  --hover-text-color: #d8d8d8;
  box-sizing: border-box;
  border: 0;
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.exchangeButton:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  cursor: pointer;
}

.exchangeButton:hover .exchangeButtonImage {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.exchangeButton:active {
  transform: scale(0.9);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.90);
  position: relative;
}

/* -- FINE BOTTONE PER ANDARE ALLA PAGINA DEGLI SCAMBI -- */

/* ++ INIZIO EXCHANGEVIEW ++ */

.exchangeWelcomeLabelWithExchanges {
  font-family: 'Passion One', sans-serif;
  font-size: 65px;
  letter-spacing: 4px;
  word-spacing: 7.5px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  color: rgb(231, 231, 231);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.exchangeWelcomeLabelWithoutExchanges {
  font-family: 'Passion One', sans-serif;
  font-size: 7rem;
  letter-spacing: 4px;
  word-spacing: 7.5px;
  font-style: normal;
  font-variant: small-caps;
  color: rgb(231, 231, 231);
  text-align: center;
  margin-top: 10vw;
}

.emojiExchangesLabel {
  font-size: 90px;
  text-align: center;
}

.exchangePanel {
  background-color: rgb(0, 51, 102);
  border-radius: var(--border-radius);
}

.exchangeProposalPanel {
  background-color: #1d66c5;
  /*background-color: #1d66c5;*/
  border-radius: var(--border-radius);
  margin-top: 20px;
  margin-bottom: 20px;

}


/* -- FINE EXCHANGEVIEW -- */

/* DECK */
.deckList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
}

.deckName {
  font-family: var(--font-family);
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
  font-variant: small-caps;
  color: rgb(231, 231, 231);
  text-align: center;
  max-width: 23rem;
}

.numberOfCards {
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  font-variant: small-caps;
  color: rgb(231, 231, 231);
  text-align: center;
  max-width: 23rem;
}

.deckPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 14rem;
  min-width: 21rem;
  /*! overflow-inline: visible; */
  padding: 1rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
}

.decksGrid {
  display: grid;
  justify-content: center;
  width: 109rem;
  height: 42.9rem;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.deckButtonPanel {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Stile per il pulsante di creazione del mazzo */
.createDeckButton {
  background-color: #29ca29;
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  width: 10rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-right: 7rem;
}

/* Stile quando il cursore è sopra il pulsante */
.createDeckButton:hover {
  background-color: darkgreen;
  transform: scale(1.2);
}

/* Stile quando il pulsante è attivo/cliccato */
.createDeckButton:active {
  transform: scale(0.9);
}

.createDeckButton::after {
  transform: scale(1.2);
}

.createDeckContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.openDeckButton {
  background-image: url('/img/modDeck.svg');
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
}

.openDeckButton:hover {
  transform: scale(1.2);
}

.deleteDeckButton {
  background-image: url('/img/trash.svg');
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
}

.deleteDeckButton:hover {
  transform: scale(1.2);
}


/* POPUP GESTIONE DECK */
.popupContainer {
  border-radius: var(--border-radius);
  background-color: var(--popup-background-color);
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 3rem;
  overflow-y: scroll;
  max-width: 16rem;
  max-height: 40rem;
  color: white;
  font-family: var(--font-family);
  font-weight: bold;
  justify-items: center;
  margin-right: 0.8rem;
  overflow-x: hidden;
}

.exchangeButton:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  cursor: pointer;
}

.exchangeButton:hover .exchangeButtonImage {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.exchangeButton:active {
  transform: scale(0.9);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.90);
  position: relative;
}

.exchangeButton:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  cursor: pointer;
}

.exchangeButton:hover .exchangeButtonImage {
  filter: brightness(85%);
  transition-duration: 100ms;
}

.exchangeButton:active {
  transform: scale(0.9);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.90);
  position: relative;
}

.popupContainer .createDeckButton {
  margin: 0;
}

.popupContainer label {
  display: block;
  margin-bottom: 10px;
}

.popupContainer input[type="text"] {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
}

.bigLabelPopup {
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-weight: bold;
  font-variant: small-caps;
  color: rgb(230, 0, 0);
  text-align: center;
  max-width: 23rem;
  margin-bottom: 1rem;
}


.scrollable-cards {
  max-height: 30rem;
  overflow-y: auto;
  padding-top: 1rem;
  /*! display: grid; */
  /*! justify-items: center; */
  min-height: 30rem;
  /*! min-width: 4rem; */
  justify-content: center;
  margin-left: 7rem;
  /*! overflow-x: hidden; */
}


.card-details {
  color: white;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1rem;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.cardToDeck .addCardToDeck {
  background-color: #29ca29;
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  width: 10rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-right: 7rem;
}

.removeCardFromDeck {
  background-color: #ca2929;
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  width: 10rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-right: 7rem;
}